<div class='movie top-border padded'>
  <h2 class='text-center'>
    <%= @movie.title %>
  </h2>
  <div class='movie__details'>
    <img class='img--vignette' src=<%= @movie.poster_url %> alt='Movie Poster'>
    <span>by <%= @movie.directors_fullnames %></span>
    <i><%= @movie.last_event_turnout %> participants</i>
  </div>
  <p><%= link_to '<< Back to all movies', movies_path %></p>
</div>
