<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8" id="what">
			<div class="col-sm-12 what">
				<h2>WHAT</h2>
			</div>
		</div>
		<%= link_to when_graph_path, remote: true do %>
			<div class="col-sm-4 when" id="when">
			
				<h2>WHEN</h2>
			
			</div>
		<% end %>
	</div>
	<div class="row">
		<div class="col-sm-4 who">
			<h2>WHO</h2>
		</div>
		<div class="col-sm-8 where">
			<h2>WHERE</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 what-back">
				<div class="row center">
					<h3>Top 3 film turnouts</h3>
				</div>
				<div class="row center">
				<% @movies_podium.each do |movie| %>
					<div class="col-sm-4">
						<img src="<%= movie.poster_url %>"/>
						<figcaption><%= movie.title %>,<br><%= movie.events.last.attendees_nb %> filmbuffs</figcaption>
					</div>
				<% end %>
				</div>
				<div class="row">
						<a href="#">View all 60 films</a>
				</div>			
		</div>
		<div class="col-sm-4 when-back">
				<div class="row center">
					<h3>We've seen movies from <%= @oldest_movie.year %> to <%= @latest_movie.year %></h3>
				</div>
				
				<div class="row center" id="when-graph">
				</div>
		</div>
	</div>
</div>